.idea/
ml/pytorch/more_advanced/image_captioning/flickr8k/
ml/algorithms/svm/__pycache__/utils.cpython-38.pyc
__pycache__/
*.pth.tar
*.DS_STORE
ml/pytorch/huggingface/train.csv
ml/pytorch/huggingface/validation.csv
ml/pytorch/huggingface/test.csv
ml/pytorch/huggingface/tb_logs/
ml/pytorch/huggingface/checkpoints/
ml/pytorch/huggingface/notebooks/
ml/pytorch/basics/08_custom_dataset_txt/flickr8k
ml/pytorch/basics/dataset/
ML/Ray/task_images/
ML/Ray-examples/data/
ML/Ray-examples/ray-train/MNIST/
ML/Ray-examples/ray-train/lightning_logs/